.menuContainer {
  position: relative;
}

.fullscreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  color: white;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.fullscreenMenu.open {
  opacity: 1;
  pointer-events: auto;
}

.fullscreenMenu ul {
  list-style: none;
  margin-top: 60px;
}

.fullscreenMenu li {
  margin: 20px 0;
  font-size: 1rem;
}

.closeButton {
  position: absolute;
  top: 20px;
  left: 0px;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
